.card-element {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 47%;
    padding: 5rem;
    background-color: white;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
  }

  .card-element:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   
  .mt-2 {
      margin-top: 1rem;
  }